.requisitonJSON {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
  }

  .production-types {
    margin-bottom: 20px;
  }


  .table-heure-wrapper {
    .table-heure-col {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    // .form-section-header{
    //   text-align: center;
    // }
  }

  label {

    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1rem;


    input,
    .textarea-label,
    select {
      margin-top: 0.5rem;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type='checkbox'] {
      width: auto;
      margin-top: 0.5rem;
      align-self: flex-start;
    }
  }

  input[type='file'] {
    margin-top: 1rem;
  }


  .p-field-checkbox {
    display: flex;
    gap: 5px;
  }

  .dynamic-table-row{
    display: flex;
    flex-direction: row;
    //align-items: center;
  }

}